<!--The content below is only a placeholder and can be replaced.-->
<div class = "main">

<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div class = "add-list">
  <button class="button" (click) = "showAddList = !showAddList">
    Add list
  </button>
</div>
<div class = "list-name" *ngIf = "showAddList">
  <label>
    List Title:
    <input id = "listname" type="text" name="title" [(ngModel)]="newListTitle">
 </label>
 <button type="submit" (click) = "onAddList()">Add</button>
</div>

<div class = "list-space" [ngClass] = " {'fade': showAddCard }" cdkDropListGroup>
  <div cdkDropList class = "list" *ngFor = "let list of listt" [cdkDropListData]="list" (cdkDropListDropped)="drop($event)"> 
    <h4> {{list.title}} </h4>
     <div class = "example-box" *ngFor = "let card of list.cards" cdkDrag>
       <h4>{{card.title}}</h4>
       <label class = "delete" (click) = "onDeleteCard(list, card)">X</label>
       {{card.desc}}
     </div>
     <div class="add" (click) = "onAddCard(list)"><button >+</button></div>

     <!-- <div class="new-card">
      <label>
        Card Title: <br>
        <input id = "cardtitle" type="text" name="title" [(ngModel)]="newCardTitle">
     </label>
     <br>
     <label>
      Card Description: <br>
      <textarea id = "carddesc" type="text" name="title" [(ngModel)]="newCardDesc"> </textarea>
      </label>
     <button type="submit" (click) = "onAddList()">Add</button>
     </div> -->
  </div>

</div>

<div class="new-card" *ngIf = "showAddCard">
  <label>
    Card Title: <br>
    <input id = "cardtitle" type="text" name="title" [(ngModel)]="newCardTitle">
 </label>
 <br>
 <label>
  Card Description: <br>
  <textarea id = "carddesc" type="text" name="title" [(ngModel)]="newCardDesc"> </textarea>
  </label>
 <button type="submit" (click) = "onAddCardDetails()">Add</button>
 <button type="submit" (click) = "onCancel()">Cancel</button>
 </div>

</div>

<router-outlet></router-outlet>
